
.DS_Store
.ipynb_checkpoints/linkedin-scrapper-Copy1-checkpoint.ipynb
.ipynb_checkpoints/linkedin-scrapper-checkpoint.ipynb
.ipynb_checkpoints/swapi-checkpoint.ipynb
.ipynb_checkpoints/veritasi-checkpoint.ipynb
chromedriver
linkedin-scrapper/
linkedin.html
.ipynb_checkpoints/crunch base-checkpoint.ipynb
linkedin_files
fintech startups in africa/.ipynb_checkpoints/fintech startups-Copy1-checkpoint.ipynb
fintech startups in africa/.DS_Store
fintech startups in africa/.DS_Store
fintech startups in africa/.DS_Store
